:root {
    --bg-dark: #000000;
    --bg-light: #5DE62C;

    --text-dark: #ffffff;
    --text-light: #000000;

    /*  CHANGE HEADER FONT SIZE HERE */
    --text-header-size: 12px;


}

/* Default = dark mode */
body.dark {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
}

/* Light mode */
body.light {
    --bg: var(--bg-light);
    --text: var(--text-light);
}

body {
    margin: 40px;
    font-family: 'Inter';
    background-color: var(--bg);
    color: var(--text);
}

/*____________________________________________________________________________________________________

/*                                        1. HEADER SECTION
/*____________________________________________________________________________________________________

/* Header Layout */
.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    padding: 0;
    gap: 20px;
}

/*==============================================================
/*              1.A. ATRACE LOGO CONF AND SVG MERGING
/*==============================================================*/

.logo {
    display: flex;
    align-items: center;
}

.logo-inner {
    display: flex;
    align-items: center;
    gap: 6px;

    /* prevents stacking */
    flex-wrap: nowrap;

}

.logo-inner svg {
    display: block;
    /* Prevent shrinking */
    flex-shrink: 0;

}

/*==============================================================
/*                      1.B. NAVIGATION
/*==============================================================

/* Navigation */
.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    font-size: var(--text-header-size);
    color: var(--text);
    font-weight: 300;
    transition: opacity 0.2s ease;


}

.nav a:hover {
    color: #5DE62C;
}

/* Right side SEARCH AND PROFILE */
.actions {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

/*==============================================================
/*                     1.C. SEARCH BAR
/*==============================================================

/* Search Container */
.search-container {
    position: relative;
    width: 150px;
    /* collapsed width */
    transition: width 0.3s ease;
}

/*
.search-container.active {
    width: 150px;
     expanded width 
}*/

/* Input */
.search-box {
    display: flex;
    align-items: baseline;
    position: relative;
}

.search-box input {
    width: 50%;
    margin: 0 auto;
    /* center it */
    display: block;

    background: transparent;
    border: none;
    outline: none;

    color: var(--text);
    font-size: var(--text-header-size);
    padding: 0;
    padding-bottom: 3px;
    font-weight: 300;
    text-align: center;
    /* center placeholder */
    transition: all 0.3s ease;
}

/* Placeholder style */
.search-box input::placeholder {
    color: var(--text);
    opacity: 1;
    font-size: var(--text-header-size);
    font-weight: 300;
}

/* Underline (default) */
.underline {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background: var(--text);
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

/* ACTIVE STATE */
.search-container.active .search-box input {
    width: 100%;
    margin: 0;
    text-align: left;
    /* move text to left */
}

/* ACTIVE STATE */
.search-container.active .underline {
    width: 100%;
    background: #5DE62C;
}

/* Icon (hidden initially) */
.search-icon {
    position: relative;
    right: 0;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.3s ease;
    color: var(--text);

}

.search-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
}

.search-icon svg {
    width: 9px;
    height: 9Px;
}


.search-container.active .search-icon {
    opacity: 1;
    transform: translateX(0);
    color: #5DE62C;
}




/*==============================================================
/*                     1.D.  SIGNIN/REGISTER
/*==============================================================*/
.auth a {
    text-decoration: none;
    color: var(--text);
    font-weight: 300;
    font-size: var(--text-header-size);
}

/*____________________________________________________________________________________________________

/*                                     1.END OF HEADER SECTION
/*____________________________________________________________________________________________________
